<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.springcould.dao.DeptDao">
    <insert id="addDept" parameterType="Dept">
        insert into dept (deptname,db_source)
        values (#{deptname},DADABASE())
    </insert>
    
    <select id="queryById" resultType="dept" parameterType="Long">
        select * from dept where deptno = #{deptno}
    </select>

    <select id="queryAll" resultType="dept">
        select * from dept
    </select>
</mapper>